
<div>
  <div class="img"></div>
</div>




















<!--------<mat-card class="example-card">
  <div class="content">
    <h1>My test app</h1>
    <h3>This app build for learning parpase</h3>
    <p>
      My name is farjanaliza. i am a web developer.
       i made this app by angular 7, angularmaterial 7 & firebase.
    </p>
    <p>login by Google or email</p>
    <button mat-raised-button color="warn" style="font-size: 22px;"><i class='far fa-envelope'></i> Email</button>
    <button mat-raised-button color="warn" style="font-size: 22px;"><i class='fab fa-google'></i> Google</button>
  </div>
  <div class="creat"><p>creat new<a href="#" style="color:skyblue">account</a></p></div>
</mat-card>








<i class='fab fa-google-plus-g'
         style="font-size:30px;color:#fff; border-right:2px solid rgb(241, 237, 237); padding-right:6px; ">
        </i><a href="#">Google</a>-->